<div th:fragment="all-categories" xmlns:th="xmlns:th=http://www.w3.org/1999/xhtml">
    <h1>Total Amount by Category</h1>

    <div th:if="${#lists.isEmpty(totalCategoryAmount)}">
        <p>No categories to add up!</p>
    </div>
    <div th:if="${not #lists.isEmpty(totalCategoryAmount)}">
        <table>
            <tr th:each="expense : ${totalCategoryAmount}">
                <td th:text="${expense.key}"></td>
                <td>$ <span th:text="${#numbers.formatDecimal(expense.value,0,'COMMA', 2, 'POINT')}"></span></td>
            </tr>
        </table>
    </div>


</div>

