<header class="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">

    <nav class="navBar">

        <ul>
            <li><a href="/">Fido Home</a></li>
            <li th:if="${loggedInName}"><a href="/user" th:text="${loggedInName}"></a></li>
            <li th:if="${loggedInName}"><a href="/create-expense">Add Expense</a></li>
            <li th:if="${loggedInName}"><a href="/logout">Logout</a></li>
            <li th:if="${loggedInName} == false"><a href="/login">Login</a></li>
            <li th:if="${loggedInName} == false"><a href="/sign-up">Signup</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>

    </nav>

</header>


