<header class="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">


    <div class="custom-menu-wrapper">

    <div class="pure-menu pure-menu-horizontal">
        <div class="custom-menu-screen"></div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="pure-menu-link" href="/"><img class="logoImage" alt="Logo" src="img/fiDoughLogo.png"/></a></li>
                <li class="pure-menu-item" th:if="${loggedInName}"><a class="pure-menu-link" href="/dashboard" th:text="${loggedInName}"></a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/">Fido Home</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/about-us">About Us</a></li>
                <li class="pure-menu-item" th:if="${loggedInName}"><a class="pure-menu-link" href="/create-expense">Add Expense</a></li>
                <li class="pure-menu-item" th:if="${loggedInName}"><a class="pure-menu-link" href="/dashboard">Dashboard</a></li>
                <li class="pure-menu-item" th:if="${loggedInName}"><a class="pure-menu-link" href="/all-expenses">All Expenses</a></li>
                <li class="pure-menu-item" th:if="${loggedInName}"><a class="pure-menu-link" href="/logout">Logout</a></li>
                <li class="pure-menu-item" th:if="${loggedInName} == false"><a class="pure-menu-link" href="/sign-up">Signup</a></li>
                <li class="pure-menu-item" th:if="${loggedInName} == false"><a class="pure-menu-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>


</header>


