<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | About-Us</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

    <div th:replace="fragments/header :: header">...</div>

    <h1 class="pageTitle">About Us</h1>

    <div class="aboutUsContainer">

        <div class="about-row">
            <div class="card">
                <h3 class="bioName">Kishor Pandey</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQEhap5bU_jc1A/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=hGfsM3nqvEf7bFT2eQvTT_gc7-TLy_mfpqX0cb1LY_U">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet
                        porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci
                        et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula
                        massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim.</p>
                </div>
            </div>

            <div class="card">
                <h3 class="bioName">Liz Mahoney</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQGeEwp4T3GKfQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=h5EX1vrTSjAWxSaNYr5rqfcWahi2Z57xkAIdXHLIM8g">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet
                        porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci
                        et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula
                        massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim.
                        Suspendisse potenti.</p>
                </div>
            </div>
        </div>

        <div class="about-row">
            <div class="card">
                <h3 class="bioName">Levi Porter</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQFo4LIW9DZJVQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=O1Ii7_vS4nuAZoNIyq2oGLJAwocdIkkStTAtDiHHNjM">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet
                        porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci
                        et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula
                        massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim.</p>
                </div>
            </div>
            <div class="card">
                <h3 class="bioName">Sudip Adhikari</h3>
                <img class="card-img-top" src="/img/sudipImage.png">
                <div class="card-body">
                    <p class="card-text">My name is Sudip Adhikari and I am originally from Nepal, the land of Mount
                        Everest. I recently transitioned out of Army. I graduated from Morgan State University with a
                        Electrical and Computer Engineering degree in 2013 and joined the millitary after college. I am
                        currently living at Bellevue, WA with my wife. My hobbies include watching and playing soccer,
                        playing FIFA and hiking.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>