<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>FiDo Expense Tracker | About-Us</title>
    </head>

    <body>

        <div th:replace="fragments/header :: header">...</div>
        <h1>About Us</h1>
        <img src="https://media.licdn.com/dms/image/C5603AQEhap5bU_jc1A/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=hGfsM3nqvEf7bFT2eQvTT_gc7-TLy_mfpqX0cb1LY_U" width="300px", height="300px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim. Suspendisse potenti. Nullam tristique semper faucibus. Nullam vehicula finibus metus eu lobortis. Curabitur nec urna porttitor, pulvinar nibh nec, accumsan dui. Suspendisse vestibulum mauris non sapien aliquam rhoncus. Quisque efficitur tempor metus in elementum. Curabitur et sapien in ipsum consequat mollis sit amet et magna. Pellentesque pretium lorem elit, et venenatis sem vehicula sed.</p>

        <img src="https://media.licdn.com/dms/image/C5603AQGeEwp4T3GKfQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=h5EX1vrTSjAWxSaNYr5rqfcWahi2Z57xkAIdXHLIM8g" width="300px", height="300px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim. Suspendisse potenti. Nullam tristique semper faucibus. Nullam vehicula finibus metus eu lobortis. Curabitur nec urna porttitor, pulvinar nibh nec, accumsan dui. Suspendisse vestibulum mauris non sapien aliquam rhoncus. Quisque efficitur tempor metus in elementum. Curabitur et sapien in ipsum consequat mollis sit amet et magna. Pellentesque pretium lorem elit, et venenatis sem vehicula sed.</p>


        <img src="https://media.licdn.com/dms/image/C5603AQFo4LIW9DZJVQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=O1Ii7_vS4nuAZoNIyq2oGLJAwocdIkkStTAtDiHHNjM" width="300px", height="300px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim. Suspendisse potenti. Nullam tristique semper faucibus. Nullam vehicula finibus metus eu lobortis. Curabitur nec urna porttitor, pulvinar nibh nec, accumsan dui. Suspendisse vestibulum mauris non sapien aliquam rhoncus. Quisque efficitur tempor metus in elementum. Curabitur et sapien in ipsum consequat mollis sit amet et magna. Pellentesque pretium lorem elit, et venenatis sem vehicula sed.</p>


        <img src="https://media.licdn.com/dms/image/C5603AQGMtfs2OcMOnQ/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=xD_0tmlNAmq-da2-rV6MaavcimKxoQKHl3ckct5o5AU" width="300px", height="300px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet porta sapien sed bibendum. Cras sit amet interdum est. Integer odio tortor, sollicitudin at orci et, porta tincidunt massa. Aliquam quis ligula et lorem faucibus imperdiet. Maecenas vehicula massa vel augue ultricies feugiat. Donec dui leo, imperdiet ut semper vel, efficitur quis enim. Suspendisse potenti. Nullam tristique semper faucibus. Nullam vehicula finibus metus eu lobortis. Curabitur nec urna porttitor, pulvinar nibh nec, accumsan dui. Suspendisse vestibulum mauris non sapien aliquam rhoncus. Quisque efficitur tempor metus in elementum. Curabitur et sapien in ipsum consequat mollis sit amet et magna. Pellentesque pretium lorem elit, et venenatis sem vehicula sed.</p>


    </body>

</html>