<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | About-Us</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

    <div th:replace="fragments/header :: header">...</div>

    <h1 class="pageTitle">About Us</h1>

    <div class="aboutUsContainer">

        <div class="about-row">
            <div class="card">
                <h3 class="bioName">Kishor Pandey</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQEhap5bU_jc1A/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=hGfsM3nqvEf7bFT2eQvTT_gc7-TLy_mfpqX0cb1LY_U">
                <div class="card-body">
                    <p class="card-text">I am a Software Development Apprentice at AWS, Directory Services team. My most recent experience has been handling petroleum at US Army. In the Army, I supported an organization of 500 employee, about 300 motor vehicles and equipment with petroleum products.One reason I particularly am enjoy coding is the challenges we face to build awesome applications. Being a new field, feels like even more challenging. I graduated from Metropolitan State University, Saint Paul MN majoring in Management Information Systems. Here at Code Fellows, I feel I am learning a lot to become a successful at programming. I like playing ping-pong in my free time. I was born and raised in Pokhara, Nepal which is also a rainy city like Seattle.</p>
                </div>
            </div>

            <div class="card">
                <h3 class="bioName">Liz Mahoney</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQGeEwp4T3GKfQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=h5EX1vrTSjAWxSaNYr5rqfcWahi2Z57xkAIdXHLIM8g">
                <div class="card-body">
                    <p class="card-text">I am software developer, Air Force veteran, and with a background in mechanical engineering. I love to do outdoor activities such as hiking and do landscape photography. I enjoy powerlifting, spending time with my two girls, and cooking/baking.</p>
                </div>
            </div>
        </div>

        <div class="about-row">
            <div class="card">
                <h3 class="bioName">Levi Porter</h3>
                <img class="card-img-top"
                    src="https://media.licdn.com/dms/image/C5603AQFo4LIW9DZJVQ/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=O1Ii7_vS4nuAZoNIyq2oGLJAwocdIkkStTAtDiHHNjM">
                <div class="card-body">
                    <p class="card-text">Before becoming a software developer, I served in the Coast Guard and worked in the marketing industry. I am a graduate of the Honolulu-based learning bootcamp, DevLeague, where I studied fullstack JavaScript development.</p>
                </div>
            </div>
            <div class="card">
                <h3 class="bioName">Sudip Adhikari</h3>
                <img class="card-img-top" src="/img/sudipImage.png">
                <div class="card-body">
                    <p class="card-text">My name is Sudip Adhikari and I am originally from Nepal, the land of Mount
                        Everest. I recently transitioned out of Army. I graduated from Morgan State University with a
                        Electrical and Computer Engineering degree in 2013 and joined the millitary after college. I am
                        currently living at Bellevue, WA with my wife. My hobbies include watching and playing soccer,
                        playing FIFA and hiking.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>