<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FiDo Expense Tracker | All Expenses</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <main class="all-container">
        <h1 class="pageTitle">All Expenses</h1>
        <table id="update-expense-table" class="pure-table pure-table-horizontal pure-table-striped">
            <tr>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Update</th>
            </tr>     
            <tr th:each="expense : ${expenses}" class="edit-container">
                <td><span class="all-expense-category" contenteditable="false">[[${expense.description}]]</span></td>
                <td><span contenteditable="false">[[${expense.categoryName}]]</span></td>
                <td><span contenteditable="false" th:text="${#dates.format(expense.expenseDate, 'MM/dd/yyyy')}"></span></td>
                <td><span contenteditable="false">$[[${#numbers.formatDecimal(expense.amount, 1, 'DEFAULT', 2, 'DEFAULT')}]]</span></td>
                <td><span class="button-container">
                    <a th:href="@{'/edit-expense/' + ${expense.id}}" class="pure-button pure-button-primary" id="editButton">Edit</a>
                    <form th:action="@{'/expenses/' + ${expense.id}}" method="POST">
                        <input class="pure-button pure-button-primary" id="deleteButton" type="submit" value="Delete" />
                    </form> 
                </span></td>
            </tr>
        </table>
    </main>
</body>
</html>