<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Create An Expense</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>

    <div th:replace="fragments/header :: header">...</div>
    <fieldset>
    <label>Expense Form </label>
    <form class="pure-form pure-form-stacked" action="/create-expense" method="POST">

        <label>Select Category Expense</label>
        <select name="categoryName">
            <option value="Food">Food</option>
            <option value="Supplies/Toy">Supplies/Toy</option>
            <option value="Grooming">Grooming</option>
            <option value="Daycare">Daycare</option>
            <option value="Pet Date">Pet Date</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>

        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>

        <label for="amount">Amount</label>
        <input type="number" id="amount" min="0.00" max="99999.00" step="0.01" name="amount" required>

        <label for="expenseDate">Date Of Expense</label>
        <input type="date" id="expenseDate" min="0.00" max="99999.00" step="0.01" name="expenseDate" required>
        <button class="pure-button pure-button-primary" type="submit">Submit</button>

    </form>
    </fieldset>

</body>

</html>

