<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FiDo Expense Tracker | Edit Expense</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div th:replace="fragments/header :: header">...</div>

    <main class="edit-expense-container">
        <h1 class="pageTitle">Edit Expense</h1>

        <form class="pure-form pure-form-aligned" th:action="@{'/edit/' + ${expense.id}}" method="PUT">

            <fieldset>

                <div class="pure-control-group">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" placeholder="description"
                        th:value="${expense.description}" />
                </div>

                <div class="pure-control-group">
                    <label for="categoryName">Expense Category</label>
                    <select name="categoryName" id="categoryName" th:value="${expense.categoryName}">
                        <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"
                            th:selected="${cat == expense.categoryName}"></option>
                    </select>
                </div>

                <div class="pure-control-group">
                    <label for="amount">Amount</label>
                    <input type="text" name="amount" id="amount" placeholder="$$$$" th:value="${#numbers.formatDecimal(expense.amount, 1, 'DEFAULT', 2, 'DEFAULT')}" />
                </div>

                <div class="pure-control-group">
                    <label for="expenseDate">Date of Expense</label>
                    <input type="text" name="expenseDate" id="expenseDate" placeholder="expense date" th:value="${#dates.format(expense.expenseDate, 'MM/dd/yyyy')}" />
                    </div>

                    <div class="pure-controls">
                    <input class="pure-button pure-button-primary" type="submit" />
                </div>
                </fieldset>

            </form>
        </main>
    </body>
</html>