<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FiDo Expense Tracker | Edit Expense</title>
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h1>Edit Expense</h1>
    <form th:action="@{'/edit/' + ${expense.id}}" method="PUT">
        <label for="description">
            <input type="text" name="description" id="description" placeholder="description" th:value="${expense.description}" />
        </label>
        <label for="categoryName">
            <select name="categoryName" id="categoryName" th:value="${expense.categoryName}">

                <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}" th:selected="${cat == expense.categoryName}"></option>

            </select>
        </label>
        <label for="expenseDate">
            <input type="text" name="expenseDate" id="expenseDate" placeholder="expense date" th:value="${#dates.format(expense.expenseDate, 'MM/dd/yyyy')}" />
        </label>
        <label for="amount">
            <input type="text" name="amount" id="amount" placeholder="amount" th:value="${#numbers.formatDecimal(expense.amount, 1, 'DEFAULT', 2, 'DEFAULT')}" />
        </label>
        <input type="submit" />
    </form>
</body>
</html>