<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>FiDo Error</title>

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

        <link href="/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div th:replace="fragments/header :: header">...</div>
        <h1 class="pageTitle">Error!</h1>
        <table class="pure-table">

            <thead>
                <tr>
                    <th>Path</th>
                    <th>Error</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tr>
                <td th:text="${path}"/>
                <td th:text="${error}"/>
                <td th:text="${status}"/>
                <td th:text="${message}"/>
            </tr>
        </table>
    </body>

</html>


<!--//Reference: https://github.com/codefellows/seattle-java-401d4/blob/master/class-16/demo/dinosaurs/src/main/resources/templates/error.html-->