<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Home</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/header :: header">...</div>
    <h1 class="pageTitle">Fi-Do Expense Tracker</h1>
    <main class="home-container">
        <div class="home-img">
            <img class="pug-life" src="https://media0.giphy.com/media/6t7kRkjau607u/giphy.gif" />
        </div>
        <div class="home-instructions">
            <div class="card">
                <div class="card-body">
                    <h3>Background</h3>
                    <p class="card-text">We help you manage your budget for pet and keep track of your expenses. It's as easy as typing a couple of sentences and clicking a button.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Instructions</h3>
                    <p class="card-text">If you are a member already, please login. If you are not a member yet, please signup and start maximizing your budget.</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>