<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Log in</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h1 class="pageTitle">Log in</h1>
    <p>Please enter your credentials below:</p>
    <form class="pure-form pure-form-stacked" action="/login" method="POST">
        <input name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input class="pure-button pure-button-primary" type="submit" />
    </form>
</body>
</html>