<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Sign Up</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/header :: header">...</div>

    <main class="signup-container">
        <h1 class="pageTitle">Sign Up</h1>
        <form class="pure-form pure-form-aligned" action="/sign-up" method="POST">
            <fieldset>

                <div class="pure-control-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username" />
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" />
                </div>

                <div class="pure-control-group">
                    <label for="petName">Pet Name</label>
                    <input type="text" name="petName" id="petName" placeholder="Your pet's name" />
                </div>

                <div class="pure-control-group">
                    <label for="petType">Type of Pet</label>
                    <input type="text" name="petType" id="petType" placeholder="Pet type" />
                </div>

                <div class="pure-controls">
                    <input class="pure-button pure-button-primary" type="submit" />
                </div>
            </fieldset>
        </form>
    </main>
</body>

</html>