<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Sign Up</title>
</head>
<body>
    <form action="/sign-up" method="POST">
        <label for="username">
            <input type="text" name="username" id="username" placeholder="username" />
        </label>
        <label for="password">
            <input type="text" name="password" id="password" placeholder="password" />
        </label>
        <label for="petName">
            <input type="text" name="petName" id="petName" placeholder="your pet's name" />
        </label>
        <label for="petType">
            <input type="text" name="petType" id="petType" placeholder="pet type" />
        </label>
        <input type="submit" />
    </form>
</body>
</html>