<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FiDo Expense Tracker | Sign Up</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h1 class="pageTitle">Sign Up</h1>
    <p>Please enter your information below:</p>
    <form class="pure-form pure-form-stacked" action="/sign-up" method="POST">
        <label for="username"> Username
            <input type="text" name="username" id="username" placeholder="username" />
        </label>
        <label for="password"> Password
            <input type="password" name="password" id="password" placeholder="password" />
        </label> Pet Name
        <label for="petName">
            <input type="text" name="petName" id="petName" placeholder="your pet's name" />
        </label>Type of Pet
        <label for="petType">
            <input type="text" name="petType" id="petType" placeholder="pet type" />
        </label>
        <input class="pure-button pure-button-primary" type="submit" />
    </form>
</body>
</html>